.enroll-prompt {

  position: fixed;

  bottom: 25px;
  left: 50%;

  transform: translateX(-50%);

  background: white;

  padding: 14px 22px;

  border-radius: 14px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  display: flex;
  align-items: center;
  gap: 16px;

  z-index: 1000;

}

.prompt-text {
  font-size: 0.95rem;
  color: orange;
  font-weight: bold;
}

.prompt-btn {

  background: green;

  color: white;

  border: none;

  padding: 8px 16px;

  border-radius: 8px;

  cursor: pointer;

}

.prompt-btn:hover {
  background: green;
}

.enroll-floating {

  position: fixed;

  bottom: 50px;
  right: 25px;

  background: white;

  padding: 16px 20px;

  border-radius: 14px;

  box-shadow: 0 12px 30px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;

  gap: 10px;

  max-width: 220px;

  z-index: 1000;

}

.enroll-floating p {
  font-size: 0.9rem;
  color: #016901;
  font-weight: 600;
}

.enroll-floating button {

  /* background: orange; */

  color: white;

  border: none;

  padding: 8px 8px;

  border-radius: 8px;

  cursor: pointer;

}

.enroll-floating button:hover {
  background: green;
  color: white;
}

.enroll-floating {

  position: fixed;

  bottom: 25px;
  right: 25px;

  background: white;

  padding: 16px 20px;

  border-radius: 14px;

  box-shadow: 0 12px 30px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;

  gap: 10px;

  max-width: 220px;

  z-index: 1000;

}

/* close button */

.prompt-close {

  position: absolute;

  top: 8px;
  right: 10px;

  border: none;

  background: transparent;

  font-size: 8px;

  cursor: pointer;

  color: white;
  background-color: orange;

}

.prompt-close:hover {
  color: green;
  /* background-color: black; */
}

/* enroll button */

.prompt-btn {

  background: orange;

  color: white;

  border: none;

  padding: 8px 12px;

  border-radius: 8px;

  cursor: pointer;

}

.prompt-btn:hover {
  background: green;
}
