.home-hero {
  width: 100%;
  min-height: 60vh;
  border: 3px solid purple;

  display: flex;
  flex-direction: column; /* MOBILE FIRST */
}

/* IMAGE AREA */
.hero-image {
  width: 100%;
  height: 40vh;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT AREA */
.hero-content {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* ===== DESKTOP VIEW ===== */
@media (min-width: 768px) {
  .home-hero {
    flex-direction: row;
    min-height: 60vh;
  }

  .hero-image {
    width: 60%;
    height: auto;
  }

  .hero-content {
    width: 40%;
    padding: 40px;
    justify-content: center;
  }
}